.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: rgb(37, 47, 74);
  font-size: 15px;

  &-links {
    display: flex;
  }

  &__link {
    cursor: pointer;
    margin-left: 10px;

    &:hover {
      color: #626262;
    }
  }
}
