<footer class="footer">
  <div class="footer__container footer__row">
    <div class="footer-col">
      <h4>Компания</h4>
      <ul>
        <li><div class="footer__link">о портале</div></li>
        <li><div class="footer__link">информация</div></li>
        <li><div class="footer__link">другое</div></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>заявки</h4>
      <ul>
        <li><div class="footer__link" [routerLink]="'/admin'">создание заявки</div></li>
        <li><div class="footer__link" [routerLink]="'/admin/table'">список</div></li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">2023 KKS © All rights reserved</div>
</footer>

