<div class="view-application">
  <div class="view-application__label">Название заявки</div>
  <div class="view-application__value">{{ application.object.name }}</div>
  <div class="view-application__label">ФИО</div>
  <div class="view-application__value">{{ application.object.full_name }}</div>
  <div class="view-application__label">Текст заявки</div>
  <div class="view-application__value">{{ application.object.description }}</div>
  <div class="view-application__buttons">
    <button color="primary" mat-raised-button type="button" (click)="approveApplication(application.task.id)">Утвердить</button>
    <button color="warn" mat-raised-button type="button"  (click)="declineApplication()">Отклонить</button>
  </div>
</div>

