<div class="main-table">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.object.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Заявка </th>
      <td mat-cell *matCellDef="let element"> {{element.object.name}} </td>
    </ng-container>

    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef> ФИО </th>
      <td mat-cell *matCellDef="let element"> {{element.object.full_name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Текст Заявки </th>
      <td mat-cell *matCellDef="let element"> {{element.object.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ item: element }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button"
        >
          <mat-icon fontIcon="more_vert"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-item="item" matMenuContent>
    <button mat-menu-item (click)="editForm(item)">
      <span>Просмотр заявки</span>
    </button>
    <a [href]="environment.backendHostname + item.object.document" target="_blank" class="pdf-link">
      <button *ngIf="item && item.object && item.object.document" mat-menu-item>
        <span>Просмотр PDF</span>
      </button>
    </a>
  </ng-template>
</mat-menu>

