html { height: 100%; background: #f1f1f1; }
body { margin: 0; height: 100%; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'styles/var.scss';
@import 'styles/auth.scss';
@import 'styles/main-form.scss';
@import 'styles/admin-form.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }
